﻿@{
ViewData["Title"] = "Home Page";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="bg-secondary">
<div ="row">
    <div class="text-center">
        <h1 class="display-4 text-light">
            Contract Monthly Claim System
        </h1>
    </div>
</div>

<!--Card Section-->
<div class="row">
    <div class="card border-5">
        <div class="card-body text-center">
            <h3 class="card-title">
                Lecturer
            </h3>
            <p class="card-text">
                Continue as a Lecturer to create a claim
            </p>
            <a href="/Claims" class="btn btn-outline-primary">Lecturer</a>
        </div>
    </div>
        <div class="card border-5">
        <div class="card-body text-center">
            <h3 class="card-title">
                Academic Coordinator
            </h3>
            <p class="card-text">
                Continue as an Academic Coordinator to verify claims
            </p>
            <a href="/Coordinator" class="btn btn-outline-primary">Coordinator</a>
        </div>
    </div>
        <div class="card border-5">
        <div class="card-body text-center">
            <h3 class="card-title">
                Programme Manager
            </h3>
            <p class="card-text">
                Continue as a Programme Manager to approve claims
            </p>
            <a href="/Manager" class="btn btn-outline-primary">Manager</a>
        </div>
    </div>
</div>
</body>